body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f5f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.logo-bar {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  height: fit-content;

  padding: 1rem;
}

a {
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  display: block;
  transition: all 0.3s linear;
}

a:hover {
  cursor: pointer;
}

.nav_text {
  color: #324d67;
}

.nav_text:hover {
  color: #49a6e9;
}

.ul_list li:hover {
  background-color: #7fc0ee;
  color: #324d67;
  padding-left: 0.5rem;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.social {
  display: none;
}

.social_icon {
  color: #49a6e9;
}
.social_icon:hover {
  color: #3a76a1;
}

li {
  list-style-type: none;
  box-sizing: border-box;
}
.ul_list li {
  margin: 0;
  padding: 0;
}
.ul_list {
  margin: 0;
  padding: 0;
}
.nav {
  height: 0;

  transition: ease-in-out 0.3s;
  overflow: hidden;
}

.bars {
  background: transparent;
  border: none;
  font-size: 20px;
  color: #49a6e9;
  transition: all 0.3s linear;
  cursor: pointer;
}
.bars:hover {
  color: #3a76a1;
  rotate: 90deg;
}

@media screen and (min-width: 800px) {
  header {
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;

    padding: 1rem;
  }

  .nav {
    height: auto !important;

    transition: none;
  }
  .social {
    display: flex;
    column-gap: 1rem;
    row-gap: 1rem;
  }
  .ul_list {
    display: flex;
    column-gap: 1rem;
    row-gap: 1rem;
    text-decoration: none;
  }
  .bars {
    display: none;
  }
  a {
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 0;
  }

  a:hover {
    cursor: pointer;
    transition: ease-in-out 0.3s;
  }

  .ul_list li:hover {
    background-color: transparent;
    color: #324d67;
    padding-left: 0;
    cursor: pointer;
    transition: ease-in-out 0.3s;
  }
}
